html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    z-index: -1;
    display: flex;
    align-items: center;

}

.btn.btn-primary[disabled] {
    background-color: #00ff00;
}

.map {
    width: 100%;
    height:99%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


/*Card */
.cardContainer {
    display: flex;
    align-items: auto;
    margin-top: 18vh;
    align-content: stretch;
    width: 50%
}

/*Card */
.cardContainer2 {
    margin-top: 18vh;
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.cardContainer .card {
    height: 100%;
    width: 20rem;
    z-index: 10;
    margin-left: 15px;
}

.card .vari {
    color: #5656a2;
    background: #5656a2; height: 200px;
}

/*end of card*/
.locate {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 15px;
}